---
import CoreWebVitalsSection from "../components/CoreWebVitalsSection.astro";
import HeroSection from "../components/HeroSection";
import Layout from "../layouts/Layout.astro";
---

<Layout title="WebVitals - Analyze Your Site's Performance">
  <main>
    <HeroSection client:load />
    <CoreWebVitalsSection />
  </main>
</Layout>